    {{>header}}
    <head>
          <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/hcont.css">
    
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{!-- <script src="/js/jquery.min.js"></script> --}}
    <script type="text/javascript" src="https://ananas.vn/wp-content/themes/ananas/fe-assets/js/bootstrap.min.js?ver=20233105"></script>
    </head>
{{!-- <div class="container pt-2">
  <div class="row container-row">
    <div class="col container-col">
      <img
        class="col-img"
        src="/image/product/{{data.SanPham.0.TenDongSanPham}}/{{data.SanPham.0.TenBoSuuTap}}/{{data.SanPham.0.IdSanPham}}/{{data.BoAnh.0.Anh}}"
        alt=""
      />
      <div class="mini-image row py-2">
        <div class="col">
          <div id="carouselExampleControls" class="carousel slide d-flex" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active d-flex">
                <a href=""><img
                    src="/image/product/{{data.SanPham.0.TenDongSanPham}}/{{data.SanPham.0.TenBoSuuTap}}/{{data.SanPham.0.IdSanPham}}/{{data.BoAnh.1.Anh}}"
                    class="d-block"
                    style="max-width: 141px;"
                    alt="..."
                  /></a>
                <a href=""><img
                    src="/image/product/{{data.SanPham.0.TenDongSanPham}}/{{data.SanPham.0.TenBoSuuTap}}/{{data.SanPham.0.IdSanPham}}/{{data.BoAnh.2.Anh}}"
                    class="d-block"
                    style="max-width: 141px;"
                    alt="..."
                  /></a>
                <a href=""><img
                    src="/image/product/{{data.SanPham.0.TenDongSanPham}}/{{data.SanPham.0.TenBoSuuTap}}/{{data.SanPham.0.IdSanPham}}/{{data.BoAnh.3.Anh}}"
                    class="d-block"
                    style="max-width: 141px;"
                    alt="..."
                  /></a>
                <a href=""><img
                    src="/image/product/{{data.SanPham.0.TenDongSanPham}}/{{data.SanPham.0.TenBoSuuTap}}/{{data.SanPham.0.IdSanPham}}/{{data.BoAnh.4.Anh}}"
                    class="d-block"
                    style="max-width: 141px;"
                    alt="..."
                  /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col container-row">
      <h1>{{data.SanPham.0.TenDongSanPham}} - {{data.SanPham.0.TenBoSuuTap}} - {{data.ThuocTinh.4.GiaTriThuocTinhSanPham}} - {{data.ThuocTinh.0.GiaTriThuocTinhSanPham}}</h1>
      <div class="Msp pt-3">
        <div class="row">
          <div class="col">
            <h6>Mã số : {{data.SanPham.0.IdSanPham}}</h6>
          </div>
        </div>
      </div>
      <div class="gia pt-3" style="color: #f15e2c">
        <div class="row">
          <div class="col">
            <h3>{{data.SanPham.0.Gia}} VND</h3>
          </div>
        </div>
        <div class="sec">
          <hr class="dashed" style="background-color: black;" />
        </div>
        <div class="color d-flex flex-row bd-highlight mb-3 py-3">
          {{#each data.MauSanPhamCungBoSuuTap}}
            {{#each this}}
              <a href="/product-detail/{{IdSanPham}}" style="height: 20px; weight: 20px; background-color: {{GiaTriThuocTinhSanPham}}">1234</a>
            {{/each}}

          {{/each}}
        </div>
        <hr class="dashed" style="background-color: black;" />
        <div class="luachon">
          <div class="row">
            <div class="size col" style="font-size: 2rem;">
              <h5>SIZE
                <select id="pickSize" data-style="btn" data-productid="924648">
                  <option selected="">&nbsp;</option>
                  {{#each data.TonKho}}
                    <option>{{KichCo}}</option>
                  {{/each}}
                </select></h5>

            </div>
            <div class="sl col" style="font-size: 2rem;">
              <h5>Số Lượng
                <select id="pickSize" data-style="btn" data-action="https://ananas.vn/wp-admin/admin-ajax.php" data-productid="924648">
                  <option selected="">&nbsp;</option><option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select></h5>
            </div>
          </div>
        </div>
        <hr class="dashed d-flex" style="background-color: black;" />
        <div class="add row grp-btn1 py-1">
          <button type="button" class="btn btn-primary">Thêm Vào Giỏ Hàng</button>
        </div>
        <div class="buy row grp-btn1 py-1">
          <button type="button" class="btn btn-primary">Mua Ngay</button>
        </div>
        <hr class="dashed d-flex" style="background-color: black;" />
        <div class="thongtin">
          <div class="row grp-btn1 py-1" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  THÔNG TIN SẢN PHẨM
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <h6><p>Giới tính: Unisex<br />
                      Form dáng: Regular<br />
                      Chất liệu: Single Jersey, định lượng 220GSM<br />
                      Thành phần chất liệu: 100% Cotton<br />
                      Size: S – M – L – XL<br />
                      Hoạ tiết: Logos Packed<br />
                      Sử dụng phương pháp in lụa.</p>
                  </h6>
                  <img src="/Img/Ananas_SizeChart2-04.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  QUY ĐỊNH ĐỔI SẢN PHẨM
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">Đối với những sản phẩm giày và thời trang thuộc phiên bản giới hạn. Vì nhiều lý do chúng tôi sẽ không áp
                  dụng chính sách đổi hàng. Vui lòng cân nhắc kỹ trước khi quyết định mua.</div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  BẢO HÀNH THẾ NÀO
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">Đối với các sản phẩm thuộc nhóm phụ kiện, chính sách bảo hành không được áp dụng. Mong bạn thông cảm.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

 <div class="prd-detail container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm">
            <ol class="breadcrumb">
                <li><a href="">Giày</a></li>
                <li><a href="">Basas</a></li>
                <li class="active">Basas Workaday - Low Top</li>
            </ol>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <div class="wrapper-slide">
                <div class="prd-detail-main-img">
                    <img class="main-img" src="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg">
                </div>
                <div class="prd-detail-slide1 slick-initialized slick-slider"><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1338px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 223px;"><div><div class="thumbnail" style="width: 100%; display: inline-block;">
                            <div class="cont-item"><img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg" data-img-normal="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg" data-img-large="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg"></div>
                            </div></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 223px;"><div><div class="thumbnail" style="width: 100%; display: inline-block;">
                                <div class="cont-item"><img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_2.jpg" data-img-normal="https://ananas.vn/wp-content/uploads/Pro_AV00149_2.jpg" data-img-large="https://ananas.vn/wp-content/uploads/Pro_AV00149_2.jpg"></div>
                            </div></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 223px;"><div><div class="thumbnail" style="width: 100%; display: inline-block;">
                                <div class="cont-item"><img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_3.jpg" data-img-normal="https://ananas.vn/wp-content/uploads/Pro_AV00149_3.jpg" data-img-large="https://ananas.vn/wp-content/uploads/Pro_AV00149_3.jpg"></div>
                            </div></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 223px;"><div><div class="thumbnail" style="width: 100%; display: inline-block;">
                                <div class="cont-item"><img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_6.jpg" data-img-normal="https://ananas.vn/wp-content/uploads/Pro_AV00149_6.jpg" data-img-large="https://ananas.vn/wp-content/uploads/Pro_AV00149_6.jpg"></div>
                            </div></div></div></div>
                        </div>
                    </div>
                </div>
                <div class="row prd-detail-img hidden-xs hidden-sm"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 prd-detail-right">
                <h4>Basas Workaday - Low Top - Black</h4>
                <h6 class="detail1">
                    <input type="hidden" id="productId" value="695519">
                    <span class="pull-left">Mã sản phẩm: <strong>AV00149</strong></span>
                </h6>
                <h5 class="detail1"><span class="saleprice">580.000 VND</span></h5>
                
                <hr class="dashed" style="background-color: black; height: 0.9px;">
                
                <div class="color">
                    <ul class="nav tree">
                        <li class="cb-color-fixed">
                            <label data-link=""><span class="bg-color" style="background-color: #2c2f32;"></span><input name="cbColor" type="checkbox" value="0" hidden=""></label>
                            <label data-link=""><span class="bg-color" style="background-color: #405e74;"></span><input name="cbColor" type="checkbox" value="0" hidden=""></label>
                            <label data-link=""><span class="bg-color" style="background-color: #405e74;"></span><input name="cbColor" type="checkbox" value="0" hidden=""></label>
                            <label data-link=""><span class="bg-color" style="background-color: #2c2f32;"></span><input name="cbColor" type="checkbox" value="0" hidden=""></label>
                        </li>
                    </ul>
                </div>
                <hr class="dashed" style="background-color: black; height: 1px;">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <h5>SIZE</h5>
                            <select id="pickSize" class="selectpicker bs-select-hidden" data-style="btn" data-action="https://ananas.vn/wp-admin/admin-ajax.php" data-productid="695519">
                            <option selected="">&nbsp;</option>
                                                        <option>35</option>
                                                            <option>36</option>
                                                            <option>36.5</option>
                                                            <option>37</option>
                                                            <option>38</option>
                                                            <option>38.5</option>
                                                            <option>39</option>
                                                            <option>40</option>
                                                            <option>40.5</option>
                                                            <option>41</option>
                                                            <option>42</option>
                                                            <option>42.5</option>
                                                            <option>43</option>
                                                            <option>44</option>
                                                            <option>44.5</option>
                                                            <option>45</option>
                                                            <option>46</option>
                            </select><div><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0"data-tokens="null"><span class="text">&nbsp;</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" data-tokens="null"><span class="text">35</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0" data-tokens="null"><span class="text">36</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0" data-tokens="null"><span class="text">36.5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" data-tokens="null"><span class="text">37</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" data-tokens="null"><span class="text">38</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" data-tokens="null"><span class="text">38.5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" data-tokens="null"><span class="text">39</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" data-tokens="null"><span class="text">40</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" data-tokens="null"><span class="text">40.5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" data-tokens="null"><span class="text">41</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" data-tokens="null"><span class="text">42</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" data-tokens="null"><span class="text">42.5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="13"><a tabindex="0" data-tokens="null"><span class="text">43</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="14"><a tabindex="0" data-tokens="null"><span class="text">44</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="15"><a tabindex="0" data-tokens="null"><span class="text">44.5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="16"><a tabindex="0" data-tokens="null"><span class="text">45</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="17"><a tabindex="0" data-tokens="null"><span class="text">46</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <h5>SỐ LƯỢNG</h5>
                        <select id="pickQuantity" class="selectpicker quantity bs-select-hidden" data-style="btn">
                            <option selected="">&nbsp;</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select><div ><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li data-original-index="0" class="selected"><a tabindex="0" data-tokens="null"><span class="text">&nbsp;</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="1"><a tabindex="0" data-tokens="null"><span class="text">1</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="2"><a tabindex="0"  data-tokens="null"><span class="text">2</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="3"><a tabindex="0"  data-tokens="null"><span class="text">3</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="4"><a tabindex="0" data-tokens="null"><span class="text">4</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="5"><a tabindex="0" data-tokens="null"><span class="text">5</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="6"><a tabindex="0" data-tokens="null"><span class="text">6</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="7"><a tabindex="0" data-tokens="null"><span class="text">7</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="8"><a tabindex="0" data-tokens="null"><span class="text">8</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="9"><a tabindex="0" data-tokens="null"><span class="text">9</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="10"><a tabindex="0" data-tokens="null"><span class="text">10</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="11"><a tabindex="0" data-tokens="null"><span class="text">11</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li><li data-original-index="12"><a tabindex="0" data-tokens="null"><span class="text">12</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                    </div>
                </div>
                
                <div class="row grp-btn1">
                    <a  class="btn btn-checkout">THÊM VÀO GIỎ HÀNG</a>
                </div>
                <div class="row">
                    <a class="btn btn-checkout">THANH TOÁN</a>
                </div>

                <hr class="dashed" style="background-color: black; height: 0.9px;">
                
                <div class="panel-group" id="prdDetailInfor" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#prdDetailInfor" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    THÔNG TIN SẢN PHẨM
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="divider-1"></div>
                            <div class="panel-body">
                                <h6><p>
                                    Size run: 35 – 46<br>
                                    Upper: Canvas NE<br>
                                    Outsole: Rubber</span></p>
                                <p><img class="alignnone wp-image-886913" src="https://ananas.vn/wp-content/uploads/Ananas_SizeChart.jpg" alt="" width="399" height="564"  sizes="(max-width: 399px) 100vw, 399px"></a></p>
                                </h6>
                            </div>
                        </div>
                        <hr class="dashed" style="background-color: black; height: 0.9px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#prdDetailInfor" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            QUY ĐỊNH ĐỔI SẢN PHẨM
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="divider-1"></div>
                            <div class="panel-body">
                                <h6><ul>
                                    <li>Chỉ đổi hàng 1 lần duy nhất, mong bạn cân nhắc kĩ trước khi quyết định.</li>
                                    <li>Thời hạn đổi sản phẩm khi mua trực tiếp tại cửa hàng là 07 ngày, kể từ ngày mua. Đổi sản phẩm khi mua online là 14 ngày, kể từ ngày nhận hàng.</li>
                                    <li>Sản phẩm đổi phải kèm hóa đơn. Bắt buộc phải còn nguyên tem, hộp, nhãn mác.</li>
                                    <li>Sản phẩm đổi không có dấu hiệu đã qua sử dụng, không giặt tẩy, bám bẩn, biến dạng.</li>
                                    <li>Ananas chỉ ưu tiên hỗ trợ đổi size. Trong trường hợp sản phẩm hết size cần đổi, bạn có thể đổi sang 01 sản phẩm khác:<br>
                                    - Nếu sản phẩm muốn đổi ngang giá trị hoặc có giá trị cao hơn, bạn sẽ cần bù khoảng chênh lệch tại thời điểm đổi (nếu có).<br>
                                    - Nếu bạn mong muốn đổi sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.</li>
                                    <li>Trong trường hợp sản phẩm - size bạn muốn đổi không còn hàng trong hệ thống. Vui lòng chọn sản phẩm khác.</li>
                                    <li>Không hoàn trả bằng tiền mặt dù bất cứ trong trường hợp nào. Mong bạn thông cảm.</li>
                                    </ul>
                                    </h6>
                            </div>
                        </div>   

                        <hr class="dashed" style="background-color: black; height: 2px;">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#prdDetailInfor" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            BẢO HÀNH THẾ NÀO ? 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="divider-1"></div>
                                <div class="panel-body">
                                    <h6><p>Mỗi đôi giày Ananas trước khi xuất xưởng đều trải qua nhiều khâu kiểm tra. Tuy vậy, trong quá trình sử dụng, nếu nhận thấy các lỗi: gãy đế, hở đế, đứt chỉ may,...trong thời gian 6 tháng từ ngày mua hàng, mong bạn sớm gửi sản phẩm về Ananas nhằm giúp chúng tôi có cơ hội phục vụ bạn tốt hơn. Vui lòng gửi sản phẩm về bất kỳ cửa hàng Ananas nào, hoặc gửi đến trung tâm bảo hành Ananas ngay trong trung tâm TP.HCM trong giờ hành chính:</p>
                                        <p>Địa chỉ: 5C Tân Cảng, P.25, Q.Bình Thạnh , TP. Hồ Chí Minh.<br>
                                        Hotline: 028 2211 0067</p>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>
{{!--  --}}
<div class="title-card-slider">
            <h1>SẢN PHẨM LIÊN QUAN</h1>
          </div>
          <div class="card-slider">
            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>
            
            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>
          </div>
<!-- ///////////////////////////////// -->
          <div class="title-card-slider">
            <h1>SẢN PHẨM ĐÃ XEM</h1>
          </div>

          <div class="card-slider">
            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>
            
            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>

            <div class="card">
              <a href="" target="_blank" class="main-link">
                <h2 class="title">Blank Shoelaces</h2>
          
                <div class="image">
                  <img src="/accessible-slick-responsive-product-card-slider/dist/Slideimg2.jpg" alt="Small succulent with long, spikey leaves in a mug-like planter.">
                </div>
              </a>
          
              <p class="description">Black</p>
          
              <div class="badge">Limited</div>
          
              <div class="price">
                <span class="new-price">35.000 VND</span>
              </div>
            </div>
          </div>
      </div>
